<div class="holidays">
    <video muted autoplay loop></video>
    <div class="sidebar">
        <div class="top">
            <img alt="">
            <p></p>
        </div>
        <div class="bottom">
            <img src="files/pin.png" alt="">
            <p></p>
            <button id="next">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="footer holidays">
        <div class="left">
            <h1>Holidays</h1>
            <p>Visite os melhores destinos do mundo.</p>
        </div>
        <div class="right">
            <h2></h2>
            <span></span>
        </div>
    </div>
</div>