<div class="tv">
    <div class="container">
        <div class="main">
            <div id="player"></div>
            <div class="hider">
                <span>Clique para activar o volume</span>
            </div>
        </div>
        <div class="footer">
            <iframe frameborder="0"></iframe>
        </div>
    </div>
    <div class="sidebar">
        <div class="logo">
            <img>
        </div>
        <div class="clock">
        </div>
        <div class="weather">
            <a class="weatherwidget-io" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-days="3" data-theme="pure"></a>
        </div>
        <div class="agenda">
            <h2>Aniversários</h2>
            <ul>
                <li>
                    <div class="col1">
                        <strong>08/08</strong>
                    </div>
                    <div class="col2">
                        <strong>Paulo Baltazar</strong>
                        <span>Fiel Armazém</span>
                    </div>
                </li>
                <li>
                    <div class="col1">
                        <strong>14/08</strong>
                    </div>
                    <div class="col2">
                        <strong>José Branco</strong>
                        <span>Fiel Armazém</span>
                    </div>
                </li>
                <li>
                    <div class="col1">
                        <strong>22/08</strong>
                    </div>
                    <div class="col2">
                        <strong>José Pedro</strong>
                        <span>Gestor Financeiro</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script async src="https://www.youtube.com/iframe_api"></script>
<script>
    
</script>

